<div class="carta">
    <div class="fichaProBixo">
        <div class="imagemDoBixo">
            <img [src]="bixo.foto" alt="Pokemon Image">
        </div>
        <div class="infoDoBixo">
            <div class="numeroDoBixo">Nº {{ leadingZero(bixo.numero) }}</div>
            <div class="nomeDoBixo">{{ bixo.nome }}</div>
            <div class="tiposDoBixo">
                <div class="tipoDoBixo" *ngFor="let tipo of bixo.tipos" [id]="tipo.toLowerCase()">{{ tipo }}</div> 
            </div>
        </div>
    </div>
</div>