.carta{
    background-color: #212121;
    padding: 7px;
    margin-bottom: 15px;
    width: 300px;
}
.fichaProBixo{
    background-image: url('./../../assets/dark-metal-bg.jpg');
    border-radius: 10px;
    font-family: 'Signika', sans-serif, black;
    padding: 5px;    
}

.imagemDoBixo{
    background-image: url('./../../assets/metal-bg.jpg');
    border: 2px solid #212121;
    border-radius: 4200px;
    margin: 30px;
    margin-bottom: 20px;
}

.pequenasInfos{
    display: flex;
    font-size: small;
    justify-content: space-between;
    margin-bottom: 15px;
}

.infoDoBixo{
    background-image: url('./../../assets/metal-bg.jpg');
    border: 2px solid #212121;
    margin: 5px;
    padding: 10px;


}

.numeroDoBixo{
    background-color: #212121;
    border-radius: 5px;
    color: #fff;
    padding: 4px;
    
}

.favoritar{
    background: transparent;
    border: 1px solid gray;
    border-radius: 1000px;    
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}

.nomeDoBixo{
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

.tiposDoBixo{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-top: 10px;
}

.tipoDoBixo{
    border: 1px solid gray;
    border-radius: 5px;
    display: grid;
    font-family: Consolas;
    font-size: small;
    margin-left: 5px;
    text-transform: uppercase;
    padding: 4px;
}

.favoritar:hover {
    background-color: yellow;
    border: 1px solid transparent;
}

.icone{
    width: 10px;
    height: 10px;
}





/* *************************************************************************** */
/*  TIPOS ELEMENTAIS DOS BIXOS  */
#bug{
    background-color: #729f3f;
    color: #fff;
}
#dark{
    background-color: #707070;
    color: #fff;
}
#dragon{
    background-color: #53a4cf;
    color: #fff;
}
#electric{
    background-color: #eed535;
    color: #212121;
}
#fairy{
    background-color: #fdb9e9;
    color: #212121;
}
#fighting{
    background-color: #d56723;
    color: #fff;
}
#fire{
    background-color: #fd7d24;
    color: #fff;
}
#flying{
    background-color: #3dc7ef;
    color: #212121;
}
#ghost{
    background-color: #7b62a3;
    color: #fff;
}
#grass{
    background-color: #9bcc50;
    color: #212121;
}
#ground{
    background-color: #f7de3f;
    color: #212121;
}
#ice{
    background-color: #51c4e7;
    color: #212121;
}
#normal{
    background-color: #a4acaf;
    color: #212121;
}
#poison{
    background-color: #b97fc9;
    color: #fff;
}
#psychic{
    background-color: #f366b9;
    color: #fff;
}
#rock{
    background-color: #a38c21;
    color: #fff;
}
#steel{
    background-color: #9eb7b8;
    color: #212121;
}
#water{
    background-color: #4592c4;
    color: #fff;
}
