<div class="ficha-pro-bixo">
    <div class="ficha-pro-bixo__image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
    </div>
    <div class="ficha-pro-bixo__number">
        N° 001
    </div>
    <div class="ficha-pro-bixo__name">
        Bulbasaur
    </div>
    <div class="ficha-pro-bixo__types">
        <div class="ficha-pro-bixo__type ficha-pro-bixo__type__grass">
            Grass
        </div>
        <div class="ficha-pro-bixo__type ficha-pro-bixo__type__poison">
            Poison
        </div>
    </div>
</div>