.carta{
    background-color: rgb(85, 43, 9);
    padding: 7px;
    margin-bottom: 15px;
}
.fichaProBixo{
    background-color: rgb(146, 103, 54);
    border-radius: 10px;
    padding: 5px;    
}

.imagemDoBixo{
    background-color:rgb(117, 93, 65);
    border: 2px solid rgb(85, 43, 9);
    border-radius: 3000px;
    margin: 30px;
    margin-bottom: 20px;
}

.infoDoBixo{
    background-color: rgb(172, 132, 90);
    border: 2px solid rgb(194, 161, 125);
    font-family: 'Signika', sans-serif, black;
    margin: 5px;
    padding: 10px;
}

.numeroDoBixo{
    font-size: small;
    margin-bottom: 15px;
}

.nomeDoBixo{
    /*font-weight: 700;*/
    font-size: larger;
    margin-bottom: 15px;
    text-align: center;
}

.tiposDoBixo{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.tipoDoBixo{
    border: 1px solid rgb(194, 161, 125);
    border-radius: 5px;
    display: grid;
    font-family: Consolas;
    font-size: small;
    margin-left: 5px;
    text-transform: uppercase;
    padding: 4px;
}








/* *************************************************************************** */
/*  TIPOS ELEMENTAIS DOS BIXOS  */
#bug{
    background-color: #729f3f;
    color: #fff;
}
#dark{
    background-color: #707070;
    color: #fff;
}
#dragon{
    background-color: #53a4cf;
    color: #fff;
}
#electric{
    background-color: #eed535;
    color: #212121;
}
#fairy{
    background-color: #fdb9e9;
    color: #212121;
}
#fighting{
    background-color: #d56723;
    color: #fff;
}
#fire{
    background-color: #fd7d24;
    color: #fff;
}
#flying{
    background-color: #3dc7ef;
    color: #212121;
}
#ghost{
    background-color: #7b62a3;
    color: #fff;
}
#grass{
    background-color: #9bcc50;
    color: #212121;
}
#ground{
    background-color: #f7de3f;
    color: #212121;
}
#ice{
    background-color: #51c4e7;
    color: #212121;
}
#normal{
    background-color: #a4acaf;
    color: #212121;
}
#poison{
    background-color: #b97fc9;
    color: #fff;
}
#psychic{
    background-color: #f366b9;
    color: #fff;
}
#rock{
    background-color: #a38c21;
    color: #fff;
}
#steel{
    background-color: #9eb7b8;
    color: #212121;
}
#Water{
    background-color: #4592c4;
    color: #fff;
}
